.experience {
    padding-top: 10vh;
    text-align: center;
    font-size: 5vh;
}
.resumeBlocks {
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
}
.block {
    border: 4px white;
    border-style: solid;
    border-radius: 5px;
}