.landers {
    font-weight: bold;
    font-size: 5vh;
}

.name {
    font-size: 10vh;
    padding-left: 2vw;
}

.tinyLanders {
    display: flex;
}

.landed {
    padding-left: 2vw;
    padding-right: 2w;
}